---
export const prerender = true;
import type { CollectionEntry } from "astro:content";
import Pagination from "@/components/Paginator.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, getUniqueTags, groupPostsByYear } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";
import type { GetStaticPaths, Page } from "astro";
import { Icon } from "astro-icon/components";
import Badge from "@/components/Badge.astro";

export const getStaticPaths = (async ({ paginate }) => {
	const MAX_POSTS_PER_PAGE = 15;
	const MAX_TAGS = 20;
	const allPosts = await getAllPosts();
	const uniqueTags = getUniqueTags(allPosts).slice(0, MAX_TAGS);
	return paginate(allPosts.sort(collectionDateSort), {
		pageSize: MAX_POSTS_PER_PAGE,
		props: { uniqueTags },
	});
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page, uniqueTags } = Astro.props;

const meta = {
	description: "Read my collection of posts and the things that interest me",
	title: "Posts",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: "前のページ",
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: "次のページ",
			url: page.url.next,
		},
	}),
};

const groupedByYear = groupPostsByYear(page.data);
const descYearKeys = Object.keys(groupedByYear).sort((a, b) => +b - +a);
---

<PageLayout meta={meta}>
	<h1 class="title mb-6 flex items-center gap-2">
		記事
		<a class="text-accent-two" href="/rss.xml" target="_blank">
			<span class="sr-only">RSS feed</span>
			<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:rss" />
		</a>
	</h1>
	<div class="">
		<section aria-label="Blog post list" class="">
			{
				descYearKeys.map((yearKey) => (
					<>
						<h4 class="title">{yearKey}</h4>
						<ul class="mb-8 mt-4 space-y-4 text-start">
							{groupedByYear[yearKey]?.map((p) => (
								<li class="">
									<PostPreview post={p}/>
								</li>
								<hr class="h-4 w-full bg-bgColor"/>

							))}
						</ul>
					</>
				))
			}
		</section>
	</div>
	<Pagination {...paginationProps} />
</PageLayout>
