---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';
import { Icon } from 'astro-icon/components';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;

---

<div class="relative not-prose absolute sticky top-0 -z-1 bg-[url(~/assets/images/background1.jpg)] w-full h-screen bg-[size:300px_auto] bg-repeat" {...id ? { id } : {}}>
  <div class="absoltue inset-0 flex justify-center items-center z-100">
    

  </div>
  <div id="scrollButton" class="absolute inset-0 bg-white/80 flex flex-col items-center justify-center p-40 gap-20 z-10">
    
  
    <div  class="p-3 md:p-5 mask mask-squircle bg-gray-200/50 animate-bounce">
    <Icon name="tabler:chevron-down" class={'size-7'}/>
  </div>
  </div>  
</div>

<script>
  function scrollToNextViewport() {
    const currentScrollY = window.scrollY;
    const viewportHeight = window.innerHeight;

    window.scrollTo({
      top: viewportHeight,
      behavior: 'smooth'
    });
  }

  document.addEventListener('click', (event) => {
    // Check if the clicked element, or any of its parents, has the ID 'scrollButton'
    if (event.target.matches('#scrollButton') || event.target.closest('#scrollButton')) {
      scrollToNextViewport();
    }
  });
</script>
