---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;

---

<div class="relative not-prose absolute sticky top-0 -z-1 bg-[url(~/assets/images/forest.jpg)] w-full h-screen bg-[size:300px_auto] bg-repeat" {...id ? { id } : {}}>
  <div id="scrollButton" class="absolute inset-0 bg-white/70 flex flex-col items-center justify-center p-20 gap-20">
    <h1 class="text-3xl text-gray-600 font-heading font-bold text-center">
      Kota Koizumiのブログ
    </h1>
  <div  class="p-3 rounded-full bg-teal-50 text-teal-600 animate-bounce">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672ZM12 2.25V4.5m5.834.166-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243-1.59-1.59" />
    </svg>
    
  </div>
  </div>  
</div>
<script>
  function scrollToNextViewport() {
    const currentScrollY = window.scrollY;
    const viewportHeight = window.innerHeight;

    window.scrollTo({
      top: currentScrollY + viewportHeight,
      behavior: 'smooth'
    });
  }

  document.addEventListener('click', (event) => {
    // Check if the clicked element, or any of its parents, has the ID 'scrollButton'
    if (event.target.matches('#scrollButton') || event.target.closest('#scrollButton')) {
      scrollToNextViewport();
    }
  });
</script>
