---
export const prerender = true;
import { getCollection, type CollectionEntry, render } from "astro:content";
import { getAllPosts } from "@/data/post";
import PostPreview from "@/components/blog/PostPreview.astro";

import SeriesLayout from "@/layouts/Series.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

// If you're using an adaptor in SSR mode, getStaticPaths wont work -> https://docs.astro.build/en/guides/routing/#modifying-the-slug-example-for-ssr
export const getStaticPaths = (async () => {
	const allSeries = await getCollection("series");
	return allSeries.map((series) => ({
		params: { slug: series.id },
		props: { series },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { series } = Astro.props;
const { Content } = await render(series);
const allPosts = await getAllPosts();
const posts = allPosts.filter((p)=>{if(!p.data.seriesId) return;if(p.data.seriesId === series.data.title) {return p} else {return}})
---

<SeriesLayout series={series}>
	<Content />
	<section aria-label="Blog post list">
		<ul class="space-y-4 list-none ml-0 pl-0">
			{
				posts.map((p) => (
					<li class="grid-cols-[auto_1fr] ml-0 pl-0 text-link">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		
	</section>
</SeriesLayout>
