---
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro'
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Timeline from '~/components/ui/Timeline.astro';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Advertisement from '~/components/common/Advertisement.astro';
import Conjugation from '~/components/common/Conjugation.svelte';
import ConjugationD from  '~/components/common/ConjugationD.svelte';
import Features3 from '~/components/widgets/Features3.astro';
import { getPermalink } from '~/utils/permalinks';
import Hero2 from '~/components/widgets/Hero2.astro';
const metadata = {
  title: '狐庵独語',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero2 subtitle='フランス語　日本語　その他の言語　プログラミング　雑文' />
<BlogLatestPosts title="最新記事" count={4} linkText="記事一覧へ" classes={{container:"pb-10 bg-white dark:bg-gray-950 snap-y snap-mandatory overflow-y-scroll"}}/>
</div>
<div class="sm:grid grid-cols-2">
<BlogHighlightedPosts title="フランス語超入門"  linkText='一覧へ' classes={{container:'bg-white/80'}} category={'フランス語超入門'} />
<BlogHighlightedPosts title="日本語"  linkText='一覧へ' classes={{container:'bg-white/80'}} category={'日本語'} />
</div>
<Advertisement size="m"/>

<WidgetWrapper containerClass='bg-teal-50'>
  <Features2 classes={{panel:'bg-pink-300'}} tagline='道具箱' items={[
    {title:'IPAキーボード（フランス語）', icon:'tabler:keyboard',
    description:'発音記号のオンラインキーボードです。入力した内容をコピー＆ペーストで利用できます。', 
    callToAction:{href:getPermalink('/kbdF'),icon:'tabler:chevron-right'}},
    {title:'IPAキーボード（英語）', icon:'tabler:keyboard', 
    description:'英語バージョンです。',
    callToAction:{href:getPermalink('/kbdE'),icon:'tabler:chevron-right'}},
    {title:'活用表ジェネレータ', icon:'tabler:table-spark', 
    description:'動詞活用表の穴埋めテストを生成します。動詞と含めたい法・時制を指定して、pdfでダウンロードできます。',
    callToAction:{href:getPermalink('/conjugation_gen'),icon:'tabler:chevron-right'}},
    {title:'オンライン仏々辞書まとめ', icon:'tabler:books', 
    description:'インターネットにある仏々辞書をまとめています。日仏の辞書はネットにはあまり無いですが、仏々の辞書は無料で使えるものがたくさんあります。上級者向けですが、参考にしてください。',
    callToAction:{href:getPermalink('/dictionaries'),icon:'tabler:chevron-right'}},
  ]
  } />
</WidgetWrapper>

</Layout>

