---
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro'
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Timeline from '~/components/ui/Timeline.astro';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Advertisement from '~/components/common/Advertisement.svelte';
const metadata = {
  title: '狐庵独語',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
  image={{alt: 'AstroWind Hero Image' }}
>
</Hero>
<BlogLatestPosts title="最新記事" count={12} linkText="記事一覧へ" classes={{container:"pb-10 bg-white dark:bg-gray-950 snap-y snap-mandatory overflow-y-scroll"}}/>
</div>
<Advertisement size="s" client:load/>
<WidgetWrapper isDark={false} containerClass={'bg-teal-50 dark:bg-gray-950'}>
<Features
id="features"
tagline="お知らせ"
items={[
  {
    title: 'ブログ始まる',
    date:'2025.08.01',
    description:
      'これから投稿を増やしていきます',
  },
  {
    title: '開発録',
    date: '2025.08.31',
    description:
      'スライダー機能を付けました',
  },
]}
/>
</WidgetWrapper>
<BlogHighlightedPosts title="フランス語超入門" linkText='一覧へ' classes={{container:"pb-10 bg-white dark:bg-gray-950"}} category={'フランス語超入門'} />
<Advertisement size="s" client:load/>
<WidgetWrapper isDark={false} containerClass={'bg-slate-50'}>
  
<Features2
id="features"
tagline="便利グッズ"
items={[
  {
    title: 'フランス語頻度順',
    description:
      'コーパスデータをもとに頻度順に単語をまとめています（工事中）',
    icon: 'tabler:brand-tailwind',
  },
  {
    title: '活用ジェネレータ',
    description:
      '動詞活用テスト表を生成する便利サイト（工事中）',
    icon: 'tabler:components',
  },
  {
    title: 'フランス語オンライン辞書まとめ',
    description:
      'フランス語のオンライン辞書は便利なものがたくさんあります。仏仏のみです',
    icon: 'tabler:components',
  },
]}
/>
</WidgetWrapper>
</Layout>
<script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
