---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "サイトのプライバシーポリシー",
	title: "プライバシーポリシー",
};
---

<PageLayout meta={meta}>


		<h1 class="mb-10 font-bold border-b pb-2">プライバシーポリシー</h1>
	  
		<div class="space-y-6">
		  <div>
			<h4 class="text-xl font-bold mb-2">当サイトに掲載されている広告について</h4>
			<p>
			  当サイトでは、第三者配信の広告サービスを利用しています。<br>
			  このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報「Cookie（クッキー）」を使用することがあります。<br>
			  ※氏名、住所、メール アドレス、電話番号は含まれません。
			</p>
		  </div>
	  
		  <div>
			<h4 class="text-xl font-bold mb-2">アクセス解析ツールについて</h4>
			<p>
			  当サイトでは、アクセス解析のために第三者サービスを使うことがあります。<br>
			  第三者サービスは情報解析のためにCookieを使用する場合があります。Cookieに使用されるデータは匿名で収集されており、個人を特定するものではありません。Cookie機能はお使いのブラウザの設定により利用制限が可能です。
			</p>
		  </div>
	  
		  <div>
			<h4 class="text-xl font-bold mb-2">免責事項</h4>
			<p>
			  当サイトからリンクやバナーによって他サイトに移動した場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。<br>
			  当サイトに掲載されている情報について、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。<br>
			  当サイトに掲載された内容によって生じた損害等の責任は負いかねますのでご了承ください。
			</p>
		  </div>
	  
		  <div>
			<h4 class="text-xl font-bold mb-2">著作権について</h4>
			<p>
			  当サイトに掲載されている文章・画像・動画などの著作物は、無断転載を禁止します。<br>
			  著作権は当サイト運営者または各著作権者に帰属します。
			</p>
		  </div>
	  
		  <div>
			<h4 class="text-xl font-bold mb-2">プライバシーポリシーの変更について</h4>
			<p>
			  当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。<br>
			  修正された最新のプライバシーポリシーは常に本ページにて開示されます。
			</p>
		  </div>
		</div>

	  

</PageLayout>
