---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/kouta0000",
		name: "mdi:github",
	},
	{
		friendlyName: 'note',
		link: "https://note.com/roan_dokugo1236",
		name: "emojione-monotone:letter-n"
	},
	{
		friendlyName: 'Zenn',
		link: 'https://zenn.dev/roan_dokugo',
		name: "emojione-monotone:letter-z"
	}
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<ul class="flex flex-1 items-center gap-x-3 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="inline-block inline-flex items-center gap-2 hover:text-link drop-shadow-[0px_2.5px_2.5px_rgba(0,0,0,0.175)]"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
					<span class="">{friendlyName}</span>
					<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						
					</a>
				</li>
			))
		}
	</ul>
</div>
