---
import Item from '~/components/blog/GridItem.astro';
import type { Post } from '~/types';
import { Swiper, SwiperSlide, SwiperWrapper, SwiperPagination, SwiperButtonNext, SwiperButtonPrev} from 'astro-swiper';
import { Icon } from 'astro-icon/components';

export interface Props {
  posts: Array<Post>;
}

function pairArray(arr: Array<Post>) {
  const result: Array<Array<Post>> = [];
  for (let i = 0; i < arr.length; i += 2) {
    result.push(arr.slice(i, i + 2));
  }
  return result;
}

const { posts } = Astro.props;
const postpairs: Post[][] = pairArray(posts);
---

<div class="md:hidden">
  <Swiper
    options={{
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
      autoplay: {
        delay: 3000,
      },
      navigation: {
        nextEl: ".my-swiper-button-next",
        prevEl: ".my-swiper-button-prev",
      },
      slidesPerView: 2,
      spaceBetween: 10,
    }}>
    <SwiperWrapper>
      {posts.map((post) => (
        <SwiperSlide>
          <Item post={post} />
        </SwiperSlide>
      ))}
    </SwiperWrapper>
    <div class="my-swiper-button-next absolute right-0 bottom-0 z-10 rounded-full bg-teal-200/50 hover:bg-teal-300/50 p-3 text-teal-600">
      <Icon name="tabler:chevron-right" class="size-6"/>
    </div>
    <div class="my-swiper-button-prev absolute left-0 bottom-0 z-10 rounded-full bg-teal-200/50 hover:bg-teal-300/50 p-3 text-teal-600">
      <Icon name="tabler:chevron-left" class="size-6"/>
    </div>
    <div class="mt-10">
    <SwiperPagination />
    </div>
  </Swiper>
</div>

<div class="hidden md:block">
  <Swiper
    options={{
      pagination: {
        el: '.swiper-pagination'
      },
      navigation: {
        nextEl: ".my-swiper-button-next",
        prevEl: ".my-swiper-button-prev",
      },
      slidesPerView: 4,
      spaceBetween: 20,
    }}>
    <SwiperWrapper>
      {posts.map((post) => (
        <SwiperSlide>
          <Item post={post} />
        </SwiperSlide>
      ))}
    </SwiperWrapper>
    <div class="my-swiper-button-next absolute right-0 bottom-[50%] z-10 rounded-full bg-teal-200/50 hover:bg-teal-300/50 p-2 text-teal-600">
      <Icon name="tabler:chevron-right" class="size-6"/>
    </div>
    <div class="my-swiper-button-prev absolute left-0 bottom-[50%] z-10 rounded-full bg-teal-200/50 hover:bg-teal-300/50 p-2 text-teal-600">
      <Icon name="tabler:chevron-left" class="size-6"/>
    </div>
    <div class="mt-10">
      <SwiperPagination />
      </div>
  </Swiper>
</div>
