---
import Item from '~/components/blog/GridItem.astro';
import type { Post } from '~/types';
import { Swiper, SwiperSlide, SwiperWrapper, SwiperPagination, SwiperButtonNext, SwiperButtonPrev} from 'astro-swiper';
import { Icon } from 'astro-icon/components';

export interface Props {
  posts: Array<Post>;
}

function pairArray(arr: Array<Post>) {
  const result: Array<Array<Post>> = [];
  for (let i = 0; i < arr.length; i += 2) {
    result.push(arr.slice(i, i + 2));
  }
  return result;
}

const { posts } = Astro.props;
const postpairs: Post[][] = pairArray(posts);
---
<div class="grid grid-cols-1  lg:grid-cols-2 gap-3 px-5 sm:px-0">
  {
    posts.map((post)=>(
      <>
      <Item post={post} />
      </>
    ))
  }

</div>