---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';
import Advertisement from '~/components/common/Advertisement.svelte';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post, index) => (
      <>
      <li class="mb-1 md:mb-2">
        <Item post={post}  />
      </li>
      <hr class="w-full h-1 my-1 bg-teal-100 md:w-[70vw] md:my-3 dark:bg-gray-700 md:hidden" />
      {
        (index % 5 == 4) && (
          <Advertisement size="m" client:load/>
          <hr class="w-full h-1 my-1 bg-teal-100 md:w-[70vw] md:my-3 dark:bg-gray-700 md:hidden" />
        )
      }
      </>
    ))
  }
</ul>
