---
import { APP_BLOG } from 'astrowind:config';

import { getRelatedPosts } from '~/utils/blog';
import BlogHighlightedPosts from '../widgets/BlogHighlightedPosts.astro';
import type { Post } from '~/types';
import { getBlogPermalink } from '~/utils/permalinks';
import List from './List.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Headline from './Headline.astro';
import { Icon } from 'astro-icon/components';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
}

const { post } = Astro.props;

const relatedPosts = post.tags ? await getRelatedPosts(post, 8) : [];
---
<WidgetWrapper containerClass='bg-white/80 px-10 md:px-20 max-w-3xl mx-auto'>
<Headline >関連記事</Headline>
<div class="flex flex-col">
{
  APP_BLOG.isRelatedPostsEnabled ? (
    relatedPosts.map((post)=>(
      <>
      <div class="w-full border-b-2 border-teal-100 px-5 py-1 relative">
        <a class="absolute inset-0 hover:bg-blue-300/10" href={post.slug}></a>
        <h1 class="flex items-center text-lg justify-between mt-7 mb-4"><Icon name="tabler:book" class="text-teal-500"/><span class="ml-2">{post.title}</span><Icon name='tabler:chevron-right'/></Icon></h1>
        <p class="flex text-xs text-muted justify-end w-full items-center"><Icon name='tabler:clock'/>{getFormattedDate(post.publishDate)}</p>
        </div>
      </>
    ))
  ) : null
}
</div>
</WidgetWrapper>