<div class="max-w-3xl w-full bg-gray-200 h-20">
    <div class="admax-ads" data-admax-id="e1e5398aa8ca972b65698449d0da0cfb" style="display:inline-block;"></div>
<script type="text/javascript">(admaxads = window.admaxads || []).push({admax_id: "e1e5398aa8ca972b65698449d0da0cfb",type: "banner"});</script>
<script type="text/javascript" charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>
</div>
