---
interface Props {
    size?: 's' | 'm' | 'l';
}
const {size='s'} = Astro.props;
---
<div data-size={size} class="w-full flex justify-center items-center">
    <script is:inline>
        document.addEventListener('astro:page-load', ()=>{
            const container = document.querySelector('[data-size]');
            if (container) {
                const size = container.dataset.size;
                const script = document.createElement('script');
                // `srcs`がグローバルで利用可能であることを確認
                script.src = srcs[size];
                container.appendChild(script);
            }
        });
    </script>
</div>